<ion-header>
    <ion-navbar>
        <button ion-button color="secondary" menuToggle class="button-menu">
            <ion-icon class="large-button" name="menu"></ion-icon>
        </button>
        <ion-title>
            <img class="papatte" src="assets/img/patte.png" align="middle" alt="">
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content mode="wp">
    <form [formGroup]="ficheForm" *ngIf="ficheForm" (ngSubmit)="submit()" id="form">

        <ion-list mode="wp">
            <ion-grid>
                <ion-row justify-content-between>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-datetime mode="wp" formControlName="arrive" (ionChange)="calculTime()" placeholder="Heure d'arrivée chez le client"
                                cancelText="Annuler" doneText="Valider" displayFormat="HH:mm" pickerFormat="HH:mm"></ion-datetime>
                        </ion-item>
                    </ion-col>

                    <ion-col col-6>
                        <ion-item mode="wp">

                            <ion-label></ion-label>
                            <ion-datetime mode="wp" formControlName="depart" (ionChange)="calculTime()" placeholder="Heure de départ" cancelText="Annuler"
                                doneText="Valider" displayFormat="HH:mm" pickerFormat="HH:mm"></ion-datetime>
                        </ion-item>
                    </ion-col>
                </ion-row>


                <ion-row justify-content-between>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-input mode="wp" formControlName="temps" type="text" placeholder="Temps passé"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-input mode="wp" formControlName="positionRoue" class="right" type="text" placeholder="Position de la roue"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col col-12>
                        <ion-item mode="wp">
                            <ion-input mode="wp" formControlName="nomClient" class="solo" type="text" placeholder="Nom client"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>


                <ion-row>
                    <ion-col col-12>
                        <hr>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col col-12>
                        <ion-item mode="wp">
                            <ion-input mode="wp" formControlName="nomAdresse" class="solo" type="text" placeholder="Nom et adresse"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col col-12>
                        <hr>
                    </ion-col>
                </ion-row>


                <ion-row justify-content-between>
                    <ion-col col-3>

                        <ion-item mode="wp">
                            <ion-select class="selectorTrio  trio" formControlName="dimension" placeholder="Dimension">
                                <ion-option [selected]="fiche.dimension === ''" value="0">Aucune</ion-option>
                                <ion-option [selected]="fiche.dimension === '12 x 22.5 AM09 HANKOOK'" value="12 x 22.5 AM09 HANKOO">pneu 12 x 22.5 AM09 HANKOO</ion-option>
                                <ion-option [selected]="fiche.dimension === '13 x 22.5 AM09 HANKOOK'" value="13 x 22.5 AM09 HANKOO">pneu 13 x 22.5 AM09 HANKOO</ion-option>
                                <ion-option [selected]="fiche.dimension === '12 x 22.5 DM09 HANKOOK'" value="12 x 22.5 DM09 HANKOOK">pneu 12 x 22.5 DM09 HANKOOK</ion-option>
                                <ion-option [selected]="fiche.dimension === '13 x 22.5 DM09 HANKOOK'" value="13 x 22.5 DM09 HANKOOK">pneu 13 x 22.5 DM09 HANKOOK</ion-option>
                                <ion-option [selected]="fiche.dimension === '12 x 22.5 RECHAPE'" value="12 x 22.5 RECHAPE">pneu 12 x 22.5 RECHAPE</ion-option>
                                <ion-option [selected]="fiche.dimension === '10 x 16.5 NHS'" value="10 x 16.5 NHS">pneu 10 x 16.5 NHS</ion-option>
                                <ion-option [selected]="fiche.dimension === '385/65 x 22.5 TM15 HANKOOK'" value="385/65 x 22.5 TM15 HANKOOK">385/65 x 22.5 TM15 HANKOOK</ion-option>
                                <ion-option [selected]="fiche.dimension === '385/65 x 22.5 HT3 CONTINENTAL'" value="385/65 x 22.5 HT3 CONTINENTAL">pneu 385/65 x 22.5 HT3 CONTINENTAL</ion-option>
                                <ion-option [selected]="fiche.dimension === '315/80 x 22.5 HS3 CONTINENTAL'" value="315/80 x 22.5 HS3 CONTINENTAL">pneu 315/80 x 22.5 HS3 CONTINENTAL</ion-option>
                                <ion-option [selected]="fiche.dimension === '315/70 x 22.5 HS3 CONTINENTAL'" value="315/70 x 22.5 HS3 CONTINENTAL">pneu 315/70 x 22.5 HS3 CONTINENTAL</ion-option>
                                <ion-option [selected]="fiche.dimension === '155 x 13 KUHMO'" value="155 x 13 KUHMO">pneu 155 x 13 KUHMO</ion-option>
                                <ion-option [selected]="fiche.dimension === '195/75 x 16 RA18 HANKOOK'" value="195/75 x 16 RA18 HANKOOK">pneu 195/75 x 16 RA18 HANKOOK</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>


                    <ion-col col-3>
                        <ion-item mode="wp">
                            <ion-input mode="wp" formControlName="dimensionLibre" class="trio" type="text" placeholder="Dimension"></ion-input>
                        </ion-item>
                    </ion-col>

                    <ion-col col-3>
                        <ion-item mode="wp">
                            <ion-input mode="wp" formControlName="nvh" class="trio" type="text" placeholder="NVH"></ion-input>
                        </ion-item>
                    </ion-col>

                    <ion-col col-3>
                        <ion-item mode="wp">
                            <ion-input mode="wp" formControlName="kmCompteur" class="trio" type="text" placeholder="Kilomètres compteur"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col col-12>
                        <hr>
                    </ion-col>
                </ion-row>

                <ion-row justify-content-between>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-input mode="wp" class="readonly" type="text" readonly value="Démontage/remontage"></ion-input>

                        </ion-item>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-input mode="wp" formControlName="demontage" class="right" type="text" placeholder="Quantité"></ion-input>

                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row justify-content-between>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-input mode="wp" type="text" class="readonly" readonly value="Dépose/repose">
                            </ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-input mode="wp" formControlName="depose" class="right" type="text" placeholder="Quantité">
                            </ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>


                <ion-row justify-content-around>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-input mode="wp" class="readonly" type="text" readonly value="Réparation/Tubeless"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-input mode="wp" formControlName="reparation" class="right" type="text" placeholder="Quantité"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>



                <ion-row justify-content-around>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-input mode="wp" class="readonly" type="text" readonly value="Réparation CH.AAIR"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-input mode="wp" formControlName="chaair" class="right" type="text" placeholder="Quantité"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row justify-content-around>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-input mode="wp" class="readonly" type="text" readonly value="Retaillage"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-input mode="wp" formControlName="retaillage" class="right" type="text" placeholder="Quantité"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <div formGroupName="emplatre">
                    <ion-row justify-content-between>
                        <ion-col col-6>
                            <ion-item mode="wp">
                                <ion-select class="selector" formControlName="nom" placeholder="Emplâtre">
                                    <ion-option [selected]="fiche.emplatre.nom === 'Emplâtre 110 TL'" value="Emplâtre 110 TL">Emplâtre 110 TL</ion-option>
                                    <ion-option [selected]="fiche.emplatre.nom === 'Emplâtre 120 TL'" value="Emplâtre 120 TL">Emplâtre 120 TL</ion-option>
                                    <ion-option [selected]="fiche.emplatre.nom === 'Emplâtre 125 TL'" value="Emplâtre 125 TL">Emplâtre 125 TL</ion-option>
                                    <ion-option [selected]="fiche.emplatre.nom === 'Emplâtre 135 TL'" value="Emplâtre 135 TL">Emplâtre 135 TL</ion-option>
                                    <ion-option [selected]="fiche.emplatre.nom === 'Emplâtre 140 TL'" value="Emplâtre 140 TL">Emplâtre 140 TL</ion-option>
                                    <ion-option [selected]="fiche.emplatre.nom === 'Emplâtre 142 TL'" value="Emplâtre 142 TL">Emplâtre 142 TL</ion-option>
                                    <ion-option [selected]="fiche.emplatre.nom === 'Emplâtre 145 TL'" value="Emplâtre 145 TL">Emplâtre 145 TL</ion-option>
                                    <!-- <ion-option [selected]="fiche.emplatre.nom === 'G159'" value="G159">G159 Emplâtre 146 TL</ion-option>
                                    <ion-option [selected]="fiche.emplatre.nom === 'G169'" value="G169">G169 Emplâtre PN02L</ion-option>
                                    <ion-option [selected]="fiche.emplatre.nom === 'G170'" value="G170">G170 Emplâtre PN03</ion-option>
                                    <ion-option [selected]="fiche.emplatre.nom === 'G171'" value="G171">G171 Emplâtre PN04</ion-option>
                                    <ion-option [selected]="fiche.emplatre.nom === 'G172'" value="G172">G172 Emplâtre PN05</ion-option>
                                    <ion-option [selected]="fiche.emplatre.nom === 'G173'" value="G173">G173 Emplâtre PN06</ion-option> -->
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col col-6>
                            <ion-item mode="wp">
                                <ion-input mode="wp" formControlName="quantite" class="right" type="text" placeholder="Quantité"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </div>

                <ion-row justify-content-between>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-input mode="wp" class="readonly" type="text" readonly value="Forfait véhiculé"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-input mode="wp" formControlName="forfait" class="right" type="text" placeholder="Quantité"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <!--FOURNITURE-->

                <div formArrayName="fournitures">
                    <ng-container *ngFor="let fourniture of ficheForm.controls.fournitures.controls; let i=index" formGroupName="{{i}}">

                        <ion-row justify-content-between>
                            <ion-col col-6>

                                <ion-item-sliding>
                                    <ion-item mode="wp">
                                        <ion-select class="selector" formControlName="nom" placeholder="Fourniture">
                                            <ion-option *ngFor="let fourni of fournituresList" [value]="fourni">{{fourni}}</ion-option>
                                        </ion-select>
                                    </ion-item>
                                    <ion-item-options side="left">
                                        <button ion-button color="danger" (click)="deleteFourni(i)">
                                            <ion-icon name="trash"></ion-icon>
                                            Supprimer
                                        </button>
                                    </ion-item-options>
                                </ion-item-sliding>
                            </ion-col>
                            <ion-col col-6>
                                <ion-item mode="wp">
                                    <ion-input mode="wp" formControlName="quantite" class="right" type="text" placeholder="Quantité"></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ng-container>
                </div>

                <!-- <div formArrayName="fournitures">

                    <div *ngFor="let fourniture of ficheForm.controls.fournitures.controls; let i=index" formGroupName="{{i}}">
                        <ion-row justify-content-between>

                            <ion-col col-6>
                                <ion-item-sliding>
                                    <ion-item mode="wp">
                                        <ion-input mode="wp" (keyup)="getItems($event, i)" formControlName="nom" class="" type="text" placeholder="Fourniture"></ion-input>
                                    </ion-item>
                                    <ion-item-options side="left">
                                        <button ion-button color="danger" (click)="deleteFourni(i)">
                                            <ion-icon name="trash"></ion-icon>
                                            Supprimer
                                        </button>
                                    </ion-item-options>
                                </ion-item-sliding>
                            </ion-col>
                            <ion-col col-6>
                                <ion-item mode="wp">
                                    <ion-input mode="wp" class="right" type="text" formControlName="quantite" placeholder="Quantité"></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row *ngIf="i == [(numberForm)]">
                            <ion-list>
                                <ion-item *ngFor="let fourniture of fournituresList;  let x=index">
                                    <div *ngIf="x<2" tappable (click)="insertInput(fourniture, i)">
                                        {{fourniture}}
                                    </div>
                                </ion-item>
                            </ion-list>

                        </ion-row>
                    </div>
                </div> -->



                <ion-row justify-content-between>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-icon name="md-add-circle" tappable (click)="addFourniture()" color="primary" style="font-size:5rem;"></ion-icon>
                        </ion-item>

                    </ion-col>
                </ion-row>


                <ion-row>
                    <ion-col col-12>
                        <hr>
                    </ion-col>
                </ion-row>



                <ion-row>
                    <ion-col col-12>
                        <ion-item mode="wp">
                            <ion-textarea class="textarea" formControlName="observation" placeholder="Observation" mode="wp">
                            </ion-textarea>
                        </ion-item>
                    </ion-col>
                </ion-row>



                <ion-row>
                    <ion-col col-12>
                        <ion-item mode="wp">
                            <!--<ion-label stacked>N° Pneu monté</ion-label>-->
                            <ion-input mode="wp" formControlName="numeroPneu" class="solo" type="text" placeholder="N° pneu monté"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row justify-content-between>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-input mode="wp" type="text" formControlName="pression" placeholder="Contrôle pression"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-input mode="wp" type="text" formControlName="serrage" class="right" placeholder="Contrôle serrage"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-item mode="wp">
                    Prière de resserer les roues après 25Km, 100Km et ensuite périodiquement
                </ion-item>


                <ion-item mode="wp">
                    <div id="bloc-bottom">

                        <div>Signature responsable :
                            <br>
                            <br>
                            <signature-responsable>
                            </signature-responsable>
                            <br>

                            <button mode="wp" ion-button large type="button" (click)="clear('responsable')">Reset
                            </button>
                        </div>
                        <div class="right">Signature client :
                            <br>
                            <br>
                            <signature-client>
                            </signature-client>
                            <br>
                            <button mode="wp" ion-button large type="button" (click)="clear('client')">Reset
                            </button>
                        </div>
                    </div>
                </ion-item>
                <ion-item mode="wp">
                    <button mode="wp" ion-button large type="submit" [disabled]="!ficheForm.valid">Enregistrer
                    </button>
                </ion-item>
            </ion-grid>
        </ion-list>
    </form>
    <div *ngIf="msgErreur">{{msgErreur}}</div>
</ion-content>