<ion-header>
    <ion-navbar>
        <button ion-button color="secondary" menuToggle class="button-menu">
            <ion-icon class="large-button" name="menu"></ion-icon>
        </button>
        <ion-title> <img class="papatte" src="assets/img/patte.png" align="middle" alt=""></ion-title>
    </ion-navbar>
</ion-header>
<ion-content mode="wp">
    <form [formGroup]="ficheForm" (ngSubmit)="save()" id="form">


        <ion-list mode="wp">
            <ion-grid>
                <ion-row justify-content-between>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-datetime tappable mode="wp" formControlName="arrive" placeholder="Heure d'arrivée chez le client" cancelText="Annuler" doneText="Valider"
                                displayFormat="HH:mm" pickerFormat="HH:mm"></ion-datetime>
                        </ion-item>
                    </ion-col>

                    <ion-col col-6>
                        <ion-item mode="wp">

                            <ion-label></ion-label>
                            <ion-datetime mode="wp" formControlName="depart" placeholder="Heure de départ" cancelText="Annuler" doneText="Valider" displayFormat="HH:mm"
                                pickerFormat="HH:mm"></ion-datetime>
                        </ion-item>
                    </ion-col>
                </ion-row>


                <ion-row justify-content-between>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-input mode="wp" formControlName="temps" type="text" placeholder="Temps passé"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-input mode="wp" formControlName="positionRoue" class="right" type="text" placeholder="Position de la roue"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col col-12>
                        <ion-item mode="wp">
                            <ion-input mode="wp" formControlName="nomClient" class="solo" type="text" placeholder="Nom client"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>


                <ion-row>
                    <ion-col col-12>
                        <hr>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col col-12>
                        <ion-item mode="wp">
                            <ion-input mode="wp" formControlName="nomAdresse" class="solo" type="text" placeholder="Nom et adresse"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col col-12>
                        <hr>
                    </ion-col>
                </ion-row>


                <ion-row justify-content-between>
                    <ion-col col-3>
                        <ion-item mode="wp">

                            <ion-select class="selectorTrio  trio" formControlName="dimension" placeholder="Dimension">
                                <ion-option value="P2012">P2012 PNEU 10 X 16 NHS</ion-option>
                                <ion-option value="P2919">P2919 PNEU 13 X 22.5 HANKOOK DM09 RR:D A:C 72DB</ion-option>
                                <ion-option value="P2920">P2920 PNEU 13 X 22.5 HANKOOK AM06 R:D A:C 72DB</ion-option>
                                <ion-option value="P2938">P2938 PNEU 385/65 X 22.5 HANKOOK .AM15 RR:D A:C</ion-option>
                                <ion-option value="P3316">P3316 PNEU 315/70 X 22.5 CONTI.HYBRID HS3 154/15</ion-option>
                                <ion-option value="P3318">P3318 PNEU 315/80 X 22.5 CONTINENTAL HYBRID HS3</ion-option>
                                <ion-option value="P3320">P3320 PNEU 385/55 X 22.5 CONTINENTAL HYBRID HT3</ion-option>
                                <ion-option value="P3337">P3337 PNEU 385/55 22.5 CONTINENTAL CHT3 160K</ion-option>

                            </ion-select>
                        </ion-item>
                    </ion-col>

                    <ion-col col-3>
                        <ion-item mode="wp">
                            <ion-input mode="wp" formControlName="dimensionLibre" class="trio" type="text" placeholder="Dimension"></ion-input>
                        </ion-item>
                    </ion-col>

                    <ion-col col-3>
                        <ion-item mode="wp">
                            <ion-input mode="wp" formControlName="nvh" class="trio" type="text" placeholder="NVH"></ion-input>
                        </ion-item>
                    </ion-col>

                    <ion-col col-3>
                        <ion-item mode="wp">
                            <ion-input mode="wp" formControlName="kmCompteur" class="trio" type="text" placeholder="Kilomètres compteur"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col col-12>
                        <hr>
                    </ion-col>
                </ion-row>

                <ion-row justify-content-between>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-input mode="wp" class="readonly" type="text" readonly value="Démontage/remontage"></ion-input>

                        </ion-item>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-input mode="wp" formControlName="demontage" class="right" type="text" placeholder="Quantité"></ion-input>

                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row justify-content-between>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-input mode="wp" type="text" class="readonly" readonly value="Dépose/repose space between">
                            </ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-input mode="wp" formControlName="depose" class="right" type="text" placeholder="Quantité">
                            </ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>


                <ion-row justify-content-around>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-input mode="wp" class="readonly" type="text" readonly value="Réparation/Tubeless"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-input mode="wp" formControlName="reparation" class="right" type="text" placeholder="Quantité"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>



                <ion-row justify-content-around>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-input mode="wp" class="readonly" type="text" readonly value="Réparation CH.AAIR"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-input mode="wp" formControlName="chaair" class="right" type="text" placeholder="Quantité"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row justify-content-around>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-input mode="wp" class="readonly" type="text" readonly value="Retaillage"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-input mode="wp" formControlName="retaillage" class="right" type="text" placeholder="Quantité"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <div formGroupName="emplatre">
                    <ion-row justify-content-between>
                        <ion-col col-6>
                            <ion-item mode="wp">
                                <ion-select class="selector" formControlName="nom" placeholder="Emplatre">
                                    <ion-option value="G150">G150 Emplatre 110 TL</ion-option>
                                    <ion-option value="G152">G152 Emplatre 120 TL</ion-option>
                                    <ion-option value="G153">G153 Emplatre 125 TL</ion-option>
                                    <ion-option value="G154">G154 Emplatre 135 TL</ion-option>
                                    <ion-option value="G155">G155 Emplatre 140 TL</ion-option>
                                    <ion-option value="G156">G156 Emplatre 142 TL</ion-option>
                                    <ion-option value="G157">G157 Emplatre 144 TL</ion-option>
                                    <ion-option value="G158">G158 Emplatre 145 TL</ion-option>
                                    <ion-option value="G159">G159 Emplatre 146 TL</ion-option>
                                    <ion-option value="G169">G169 Emplatre PN02L</ion-option>
                                    <ion-option value="G170">G170 Emplatre PN03</ion-option>
                                    <ion-option value="G171">G171 Emplatre PN04</ion-option>
                                    <ion-option value="G172">G172 Emplatre PN05</ion-option>
                                    <ion-option value="G173">G173 Emplatre PN06</ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col col-6>
                            <ion-item mode="wp">
                                <ion-input mode="wp" formControlName="quantite" class="right" type="text" placeholder="Quantité"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </div>

                <div formGroupName="valve">

                    <ion-row justify-content-between>
                        <ion-col col-6>
                            <ion-item mode="wp">
                                <ion-select class="selector" formControlName="nom" placeholder="Valve">
                                    <ion-option value="G106">G106 Valve Alcoa Jante alu type 70MS07N2 (40)</ion-option>
                                    <ion-option value="G107">G107 Valve TR 413</ion-option>
                                    <ion-option value="G108">G108 Valve TR 414 L</ion-option>
                                    <ion-option value="G109">G109 Valve TR 415</ion-option>
                                    <ion-option value="G127">G127 Valve REF.1294 (445-385-18 X22.5)</ion-option>
                                    <ion-option value="G128">G128 Valve GC</ion-option>
                                    <ion-option value="G130">G130 Vave REF.1486 - REF.1680 (11-12)</ion-option>
                                    <ion-option value="G132">G132 Valve GSW35 AIR&EAU</ion-option>
                                    <ion-option value="G133">G133 Valve 2123 (courtes 13 X 22.5)</ion-option>
                                    <ion-option value="G135">G135 Valve REF. 4441 (445/65X 22.5)</ion-option>
                                    <ion-option value="G136">G136 Valve REF 1151 (445/65X 22.5)</ion-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                        <ion-col col-6>
                            <ion-item mode="wp">
                                <ion-input mode="wp" formControlName="quantite" class="right" type="text" placeholder="Quantité"></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </div>
                <ion-row justify-content-between>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-input mode="wp" class="readonly" type="text" readonly value="Forfait véhiculé"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-input mode="wp" formControlName="forfait" class="right" type="text" placeholder="Quantité"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <!--FOURNITURE-->

                <div formArrayName="fournitures">
                    <!--Pour chaque tableau fourniture-->

                    <div *ngFor="let fourniture of ficheForm.controls.fournitures.controls; let i=index" formGroupName="{{i}}">
                        <ion-row justify-content-between>

                            <ion-col col-6>
                                <ion-item-sliding>
                                    <ion-item mode="wp">
                                        <ion-input mode="wp" (keyup)="getItems($event, i)" formControlName="nom" class="" type="text" placeholder="Fourniture"></ion-input>
                                    </ion-item>
                                    <ion-item-options side="left">
                                        <button ion-button color="danger" (click)="deleteFourni(i)">
                                        <ion-icon name="trash"></ion-icon>
                                        Supprimer
                                    </button>
                                    </ion-item-options>
                                </ion-item-sliding>
                            </ion-col>
                            <ion-col col-6>
                                <ion-item mode="wp">
                                    <ion-input mode="wp" class="right" type="text" formControlName="quantite" placeholder="Quantité"></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row *ngIf="i == [(numberForm)]">
                            <ion-list>
                                <!--i correspond a l index de la ligne ; s'affiche en dessous du bon champs de recherche-->
                                <ion-item *ngFor="let fourniture of fournituresList;  let x=index">
                                    <div *ngIf="x<2" tappable (click)="insertInput(fourniture, i)">
                                        {{fourniture}}
                                    </div>
                                </ion-item>
                            </ion-list>

                        </ion-row>
                    </div>
                </div>



                <ion-row justify-content-between>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-icon name="md-add-circle" tappable (click)="addFourniture()" color="primary" style="font-size:5rem;"></ion-icon>
                        </ion-item>

                    </ion-col>
                </ion-row>




                <ion-row>
                    <ion-col col-12>
                        <hr>
                    </ion-col>
                </ion-row>



                <ion-row>
                    <ion-col col-12>
                        <ion-item mode="wp">
                            <ion-textarea class="textarea" formControlName="observation" placeholder="Observation" mode="wp">
                            </ion-textarea>
                        </ion-item>
                    </ion-col>
                </ion-row>



                <ion-row>
                    <ion-col col-12>
                        <ion-item mode="wp">
                            <!--<ion-label stacked>N° Pneu monté</ion-label>-->
                            <ion-input mode="wp" formControlName="numeroPneu" class="solo" type="text" placeholder="N° pneu monté"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row justify-content-between>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-input mode="wp" type="text" formControlName="pression" placeholder="Contrôle pression"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-6>
                        <ion-item mode="wp">
                            <ion-input mode="wp" type="text" formControlName="serrage" class="right" placeholder="Contrôle serrage"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-item mode="wp">
                    Prière de resserer les roues après 25Km, 100Km et ensuite périodiquement
                </ion-item>
                <ion-item mode="wp">
                    <div id="bloc-bottom">

                        <div>Signature responsable :
                            <br>
                            <br>
                            <signature-responsable>
                            </signature-responsable><br>

                        <button mode="wp" ion-button large type="button" (click)="clear('responsable')">Reset
                        </button>
                        </div>
                        <div class="right">Signature client :
                            <br>
                            <br>
                            <signature-client>
                            </signature-client><br>
                            <button mode="wp" ion-button large type="button" (click)="clear('client')">Reset
                            </button>
                        </div>
                    </div>
                </ion-item>
                <ion-item mode="wp" *ngIf="render">
                    <button mode="wp" *ngIf="autosend;else other_content" ion-button large type="submit" [disabled]="!ficheForm.valid">Envoyer
                </button>

                    <ng-template #other_content>
                        <button mode="wp" ion-button large type="submit" [disabled]="!ficheForm.valid">Enregistrer
                        </button>
                    </ng-template>

                </ion-item>

            </ion-grid>
        </ion-list>
    </form>
    <div *ngIf="msgErreur">{{msgErreur}}</div>
</ion-content>